[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=su-to-root -X -c /usr/sbin/metapackage-installer
Icon=sidux-meta
Name=metapackage-installer
Name[de]=metapackage-installer
Name[pt]=instalar pacotes meta
Name[pt_BR]=instalar pacotes meta
Name[ru]=Мета-инсталлятор
Categories=Utility;
