[Desktop Entry]
Type=Application
Exec=su-to-root -X -c /usr/sbin/metapackage-installer
Icon=metapackage-installer
Name=metapackage-installer
Name[de]=metapackage-installer
Name[pt]=instalar pacotes meta
Name[pt_BR]=instalar pacotes meta
Name[ru]=Мета-инсталлятор
Categories=Utility;
