Source: install-meta
Section: admin
Priority: extra
Maintainer: Horst Tritremmel <peter_weber69@gmx.at>
Uploaders: Stefan Lippers-Hollmann <s.l-h@gmx.de>
Build-Depends: debhelper (>= 5), autotools-dev, libgtk2.0-dev, libglade2-dev
Standards-Version: 3.7.2

Package: install-meta
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, xterm | x-terminal-emulator
Description: Install additional meta tasks to sidux
 Frontend for installing additional meta tasks.
 Put the <metapackage-description-files>.bm to /usr/share/install-meta/
 or use the --dir=<dir> option.
